html {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.block1 {
  background-image: url("../../images/block-1_header/1_HEADER_bg.jpg");
  background-repeat: no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100% 100%;
  min-height: 1000px;
  display: block;
  position: relative;
  text-align: center;

  &_header {
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &-logo {
      width: 55%;
    }
    &-head {
      width: 68%;
    }
    &-play {
      background-image: url("../../images/btn/BTN_play_normal.png");
    }
    &-play > img:hover {
      background-image: url("../../images/btn/BTN_play_hover.png");
    }
    &-play > img:active {
      background-image: url("../../images/btn/BTN_play_active.png");
    }
    &-text {
      font-size: 24px;
      font-family: "Lora";
      color: rgb(238, 238, 238);
      line-height: 1.5;
      text-align: center;
      position: absolute;
      left: 478.244px;
      top: 746.597px;
      width: 942px;
      height: 171px;
      z-index: 13;
    }
  }
}

.btnScroll {
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &_header {
    display: block;
    position: absolute;
    left: 47.5%;
    bottom: 25px;
    background-image: url("../../images/btn/BTN_scroll_normal.png");
  }
  &_header > img:hover {
    background-image: url("../../images/btn/BTN_scroll_hover.png");
  }
  &_header > img:active {
    background-image: url("../../images/btn/BTN_scroll_active.png");
  }
  &_video {
    display: block;
    position: absolute;
    left: 47.5%;
    bottom: 100px;
    background-image: url("../../images/btn/BTN_scroll_normal.png");
  }
  &_video > img:hover {
    background-image: url("../../images/btn/BTN_scroll_hover.png");
  }
  &_video > img:active {
    background-image: url("../../images/btn/BTN_scroll_active.png");
  }
}

.block2 {
  background-image: url("../../images/block-2_chars/2_CHARS_bg_Isolda.jpg");
  background-repeat: no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100% 100%;
  min-height: 1000px;
  display: block;
  position: relative;
  text-align: center;
}

.block3 {
  background-repeat: no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100% 100%;
  min-height: 1000px;
  display: block;
  position: relative;
  text-align: center;
}

.block4 {
  margin-top: -75px;
  background-image: url("../../images/block-4_mount/4_MOUNT_bg.jpg");
  background-repeat: no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100% 100%;
  min-height: 1000px;
  display: block;
  position: relative;
  text-align: center;
  &_head {

  }
  &_rating {
    &-text1 {
      font-size: 24px;
      font-family: "Lora";
      color: rgb(255, 196, 25);
      line-height: 1.167;
      text-shadow: 0px 5px 30px rgba(35, 27, 32, 0.004);
      position: absolute;
      left: 250px;
      top: 90px;
      width: 168px;
      height: 82px;
      z-index: 392;
    }
    &-text2 {
      font-size: 24px;
      font-family: "Lora";
      color: rgb(255, 196, 25);
      line-height: 1.167;
      text-shadow: 0px 5px 30px rgba(35, 27, 32, 0.004);
      position: absolute;
      left: 400px;
      top: 90px;
      width: 168px;
      height: 82px;
      z-index: 392;
    }
    &-text3 {
      font-size: 24px;
      font-family: "Lora";
      color: rgb(249, 244, 233);
      line-height: 1.5;
      text-align: center;
      position: absolute;
      left: 388.129px;
      top: 740px;
      width: 1102px;
      height: 132px;
      z-index: 382;

    }
    &-padding {
      padding-top: 25%;
      padding-left: 4%;
    }
    &-1 {

    }
    &-2 {

    }
  }
}

.block5 {
  background-image: url("../../images/block-5_footer/5_FOOTER_BG.jpg");
  background-repeat: no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100% 100%;
  min-height: 1000px;
  display: block;
  position: relative;
  text-align: center;
  &_logo {
    margin-top: 200px;
  }
  &_logo > img {
    margin-left: 67px;
  }

  &_head {

  }
  &_text1 {
    font-size: 24px;
    font-family: "Lora";
    color: rgb(249, 244, 233);
    line-height: 1.125;
    text-align: center;
    position: absolute;
    left: 740px;
    top: 480px;
    width: 467px;
    height: 23px;
    z-index: 407;
  }
  &_text2 {
    font-size: 14px;
    font-family: "Lora";
    color: rgb(255, 255, 255);
    line-height: 1.489;
    text-align: center;
    position: absolute;
    left: 750px;
    top: 750px;
    width: 482px;
    height: 14px;
    z-index: 444;

    &-u {
      color: rgb(255, 255, 255);
      text-decoration: underline;
    }

  }
  &_play {
    padding-top: 240px;
    background-image: url("../../images/btn/BTN_play_normal.png");
    background-repeat: no-repeat;
  }
  &_play:hover {
    background-image: url("../../images/btn/BTN_play_hover.png");
  }
  &_play:active {
    background-image: url("../../images/btn/BTN_play_active.png");
  }
  &_fb {
    margin-left: 415px;
    margin-top: 90px;
    padding-top: 100px;
    background-image: url("../../images/block-5_footer/5_FOOTER_btn_fb_normal.png");
    background-repeat: no-repeat;
  }
  &_fb:hover {
    background-image: url("../../images/block-5_footer/5_FOOTER_btn_fb_hover.png");
  }
  &_fb:active {
    background-image: url("../../images/block-5_footer/5_FOOTER_btn_fb_active.png");
  }
  &_vk {
    margin-left: 515px;
    margin-top: -100px;
    padding-top: 100px;
    background-image: url("../../images/block-5_footer/5_FOOTER_btn_vk_normal.png");
    background-repeat: no-repeat;
  }
  &_vk:hover {
    background-image: url("../../images/block-5_footer/5_FOOTER_btn_vk_hover.png");
  }
  &_vk:active {
    background-image: url("../../images/block-5_footer/5_FOOTER_btn_vk_active.png");
  }
  &_ok {
    margin-left: 615px;
    margin-top: -100px;
    padding-top: 100px;
    background-image: url("../../images/block-5_footer/5_FOOTER_btn_ok_normal.png");
    background-repeat: no-repeat;
  }
  &_ok:hover {
    background-image: url("../../images/block-5_footer/5_FOOTER_btn_ok_hover.png");
  }
  &_ok:active {
    background-image: url("../../images/block-5_footer/5_FOOTER_btn_ok_active.png");
  }
  &_mail {
    margin-left: 715px;
    margin-top: -100px;
    padding-top: 100px;
    background-image: url("../../images/block-5_footer/5_FOOTER_btn_mail_normal.png");
    background-repeat: no-repeat;
  }
  &_mail:hover {
    background-image: url("../../images/block-5_footer/5_FOOTER_btn_mail_hover.png");
  }
  &_mail:active {
    background-image: url("../../images/block-5_footer/5_FOOTER_btn_mail_active.png");
  }
}

.is_overlay {
  display: block;
  width: 100%;
  height: 100%;
}

#trailer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#trailer > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
